<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kjuns.mapper.CampMapper">

	<select id="selectByTitle" parameterType="String" resultType="int">
		SELECT count(id) From kjuns_camp where title = #{title}
	</select>

	<select id="getTotalCount" resultType="int" parameterType="String">
		SELECT count(*) FROM kjuns_camp where data_flag = 1
	</select>
	
	<select id="queryCampList" resultType="com.kjuns.model.Content">
		SELECT id, title, content, thumbnail,user_id issuerId, create_by createBy,create_date createDate 
		FROM kjuns_camp where data_flag = 1 
		order by create_date desc limit #{pageNo},#{pageSize}
	</select>
	
	<select id="selectById" parameterType="String" resultType="com.kjuns.vo.ContentVo">
		SELECT id, title, subhead, summary, source, mind_map mindMap, thumbnail, content,
		create_by createBy,create_date dateTime,isTop,user_id issuerId,
		isHot,isDepth,isTease FROM kjuns_camp where id=#{id}
	</select>
	
	<select id="deleteCamp" parameterType="com.kjuns.model.Content">
		update kjuns_camp set data_flag = 0, update_by = #{updateBy}, update_date = #{updateDate}  where id = #{id}
	</select>
	
	<insert id="insertCamp" parameterType="com.kjuns.model.Content" >
		insert into kjuns_camp (id,title,content,thumbnail,user_id,create_by,create_date,data_flag,update_by,update_date) 
		values(#{id},#{title},#{content},#{thumbnail},#{userId},#{createBy},#{createDate},1,#{updateBy},#{updateDate})
	</insert>
	
</mapper>