<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kjuns.mapper.CommentMapper">

	<select id="getTotalCount" resultType="int">
		SELECT count(*) FROM kjuns_content_comments where data_flag = 1
		<if test="contentId != null and contentId != ''">
			and content_id = #{contentId}
		</if>
	</select>
	
	<select id="queryContentCommentsList" resultType="com.kjuns.model.UserComment">
		SELECT id, content_id contentId, reply_commnet_id replyCommnetId, create_by createBy,content,
		create_date createDate, user_id userId, like_count likeCount FROM kjuns_content_comments where data_flag = 1 
		<if test="contentId != null and contentId != ''">
			and content_id = #{contentId}
		</if>
		order by create_date desc limit #{pageNo},#{pageSize}
	</select>
	
	<select id="get" resultType="com.kjuns.model.UserComment" parameterType="String">
		SELECT id, content_id contentId, reply_commnet_id replyCommnetId, create_by createBy,content, like_count likeCount,
		create_date createDate, user_id userId FROM kjuns_content_comments where data_flag = 1 
		and id = #{id}
	</select>
	
	<insert id="insertContentComments" parameterType="com.kjuns.model.UserComment">
		insert into kjuns_content_comments(content_id,create_date,create_by,update_by,update_date,data_flag,user_id,content,reply_comment_id) 
		values (#{contentId},#{createDate}, #{createBy}, #{updateBy}, #{updateDate}, #{dataFlag}, #{userId},#{content},#{replyCommentId})
	</insert>
	
	<update id="delContentCommentsById" parameterType="com.kjuns.model.UserComment">
		update kjuns_content_comments set data_flag =0,update_by=#{updateBy},update_date=#{updateDate} 
		where id = #{id} and content_id =#{contentId}
	</update>
	
	<update id="insertContentCommentsLike" parameterType="String">
		update kjuns_content_comments set like_count = like_count +1 where id = #{id}
	</update>
	
</mapper>