<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kjuns.mapper.CommonMapper">
	
	<insert id="insertFaq" parameterType="com.kjuns.model.UserFaq">
		insert into user_faq(create_date,create_by,update_by,update_date,data_flag,title,content) 
		values (#{createDate}, #{createBy}, #{updateBy}, #{updateDate}, #{dataFlag},#{title}, #{content})
	</insert>
	
	<select id="queryFaq" parameterType="com.kjuns.model.UserFaq">
		select create_date createDate,create_by createBy,update_by updateBy,update_date updateDate,
		title,content where data_flag = 1
	</select>
	
	<select id="queryBanner" parameterType="com.kjuns.model.Banner"  resultType="com.kjuns.model.Banner">
		select create_date createDate,create_by createBy,update_by updateBy,update_date updateDate,
		title, content, url, background from kjuns_banner where data_flag = 1
	</select>
	
	<insert id="insertReport" parameterType="map">
		insert into user_faq(create_date,create_by,update_by,update_date,data_flag,report_id,report_type) 
		values (#{createDate}, #{createBy}, #{updateBy}, #{updateDate}, 1,#{reportId}, #{reportType})
	</insert>
	
</mapper>