<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kjuns.mapper.ContentMapper">

	<select id="getTotalCount" resultType="int">
		SELECT count(*) FROM kjuns_content where data_flag = 1
		<if test="isAdmin != null and isAdmin == 'true'">
			or data_flag = 2
		</if>
		<if test="typeId != null and typeId != '1b6e31c117724d1599f5091b87d76632'">
			and type_id = #{typeId} and section_id =''
		</if>
		<if test="sectionId != null and sectionId != ''">
			and section_id = #{sectionId}
		</if>
	</select>
	
	<select id="queryContentList" resultType="com.kjuns.model.Content">
		SELECT id, title,source,source_url sourceUrl,summary,thumbnail,mind_map mindMap,content,subhead,section_id sectionId,
		type_id typeId,isTop,like_count likeCount, share_count shareCount,create_by createBy,create_date createDate, user_id userId FROM kjuns_content
		where data_flag = 1
		<if test="isAdmin != null and isAdmin == 'true'">
			or data_flag = 2
		</if>
		<if test="typeId != null and typeId != '1b6e31c117724d1599f5091b87d76632'">
			and type_id = #{typeId} and section_id =''
		</if>
		<if test="sectionId != null and sectionId != ''">
			and section_id = #{sectionId}
		</if>
		order by isTop desc,isHot desc,create_date desc limit #{pageNo},#{pageSize}
	</select>

	<insert id="insertContent" parameterType="com.kjuns.model.Content">
		insert into kjuns_content(id,create_date,create_by,update_by,update_date,data_flag,content,type_id,user_id) 
		values (#{id},#{createDate}, #{createBy}, #{updateBy}, #{updateDate}, #{dataFlag},#{content},#{typeId},#{userId})
	</insert>
	
	<update id="delContentById" parameterType="com.kjuns.model.Content">
		update kjuns_content set data_flag = 0,update_by=#{updateBy},update_date=#{updateDate}
	    where id = #{id}
	</update>
	
	<update id="insertContentLike" parameterType="String">
		update kjuns_content set like_count = like_count + 1 where id = #{id}
	</update>
	
	<update id="insertContentShare" parameterType="String">
		update kjuns_content set share_count = share_count + 1 where id = #{id}
	</update>
	
	<select id="selectById" parameterType="String" resultType="com.kjuns.vo.ContentVo">
		SELECT id, title, subhead, summary, source, mind_map mindMap, thumbnail, content,
		create_by createBy,create_date dateTime,isTop,user_id issuerId,
		isHot,isDepth,isTease FROM kjuns_content where id=#{id} and data_flag =1
	</select>
	
</mapper>