<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"    
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<settings>
		<setting name="callSettersOnNulls" value="true" />
		<!-- changes from the defaults (全局性地启用或禁用SqlMapClient的所有延迟加载) -->
		<setting name="lazyLoadingEnabled" value="false" />
	</settings>
	
</configuration>  
